@model EmployeeManagement.Models.Employee

<html>
<head>
    <title>@ViewBag.PageTitle</title>
</head>
<body>
<h3>@ViewBag.PageTitle</h3>
<br>


<div>Name: @Model.Name</div>
<br>

<div>Email: @Model.Email</div>
<br>
<div>Department: @Model.Department</div>

</body>
</html>